<!DOCTYPE html>
<html>
	<head>
		<title>Add Classes...</title>
	</head>
<body>
<h1>Add a new class:</h1>
<form action = "\add" method = "post">
	<select name = "Department">
		<option value="ACC">Accounting (ACC)</option>
<option value="AEROSP">Aerospace Engineering (AEROSP)</option>
<option value="AAS">Afroamerican & African Studies (AAS)</option>
<option value="AERO">Air Force Officer Education Program (AERO)</option>
<option value="AMCULT">American Culture (AMCULT)</option>
<option value="ANATOMY">Anatomy (ANATOMY)</option>
<option value="ACABS">Ancient Civilizations And Biblical Studies (ACABS)</option>
<option value="ANESTH">Anesthesia (ANESTH)</option>
<option value="ANTHRARC">Anthropological Archaeology (ANTHRARC)</option>
<option value="ANTHRBIO">Anthropology,Biological (ANTHRBIO)</option>
<option value="ANTHRCUL">Anthropology,Cultural (ANTHRCUL)</option>
<option value="APPPHYS">Applied Physics (APPPHYS)</option>
<option value="ARABAM">Arab American Studies (ARABAM)</option>
<option value="AAPTIS">Arabic,Armenian,Persian,Turkish & Islamic Studies (AAPTIS)</option>
<option value="ARCH">Architecture (ARCH)</option>
<option value="ARMENIAN">Armenian Studies (ARMENIAN)</option>
<option value="ARTDES">Art and Design (ARTDES)</option>
<option value="ADABRD">Art and Design Study Abroad (ADABRD)</option>
<option value="ARTSADMN">Arts Administration (ARTSADMN)</option>
<option value="ASIANLAN">Asian Languages (ASIANLAN)</option>
<option value="ASIANPAM">Asian Pacific Island American Studies (ASIANPAM)</option>
<option value="ASIAN">Asian Studies (ASIAN)</option>
<option value="ASTRO">Astronomy (ASTRO)</option>
<option value="AT">Athletic Training (AT)</option>
<option value="AOSS">Atmospheric, Oceanic And Space Sciences (AOSS)</option>
<option value="AUTO">Automotive Engineering Program (AUTO)</option>
<option value="BARCELLO">Baroque Cello (BARCELLO)</option>
<option value="BASSOON">Bassoon (BASSOON)</option>
<option value="BIOINF">Bioinformatics (BIOINF)</option>
<option value="BIOLCHEM">Biological Chemistry (BIOLCHEM)</option>
<option value="BIOLOGY">Biology (BIOLOGY)</option>
<option value="BIOMATLS">Biomaterials (BIOMATLS)</option>
<option value="BIOMEDE">Biomedical Engineering (BIOMEDE)</option>
<option value="PIBS">Biomedical Sciences (PIBS)</option>
<option value="BIOPHYS">Biophysics (BIOPHYS)</option>
<option value="BIOSTAT">Biostatistics (BIOSTAT)</option>
<option value="BCS">Bosnian/Croatian/Serbian (BCS)</option>
<option value="BUDDHST">Buddhist Studies (BUDDHST)</option>
<option value="BA">Business Administration (BA)</option>
<option value="BCOM">Business Communication (BCOM)</option>
<option value="BE">Business Economics And Public Policy (BE)</option>
<option value="BL">Business Law (BL)</option>
<option value="CANCBIO">Cancer Biology (CANCBIO)</option>
<option value="CDB">Cell and Developmental Biology (CDB)</option>
<option value="CELLO">Cello (CELLO)</option>
<option value="CMBIOL">Cellular And Molecular Biology (CMBIOL)</option>
<option value="CHEMBIO">Chemical Biology (CHEMBIO)</option>
<option value="CHE">Chemical Engineering (CHE)</option>
<option value="CHEM">Chemistry (CHEM)</option>
<option value="CCS">Chinese Studies (CCS)</option>
<option value="CHURCHMU">Church Music (CHURCHMU)</option>
<option value="CEE">Civil And Environmental Engineering (CEE)</option>
<option value="CLARINET">Clarinet (CLARINET)</option>
<option value="CLARCH">Classical Archaeology (CLARCH)</option>
<option value="CLCIV">Classical Civilization (CLCIV)</option>
<option value="CLLING">Classical Linguistics (CLLING)</option>
<option value="COGSCI">Cognitive Science (COGSCI)</option>
<option value="HONORS">College Honors (HONORS)</option>
<option value="COMM">Communication Studies (COMM)</option>
<option value="COMPLIT">Comparative Literature (COMPLIT)</option>
<option value="CMPLXSYS">Complex Systems (CMPLXSYS)</option>
<option value="COMP">Composition (COMP)</option>
<option value="CSP">Comprehensive Studies Program (CSP)</option>
<option value="CONDUCT">Conducting (CONDUCT)</option>
<option value="RCCORE">Core Courses (RCCORE)</option>
<option value="CZECH">Czech (CZECH)</option>
<option value="DANCE">Dance (DANCE)</option>
<option value="DENTED">Dental Education (DENTED)</option>
<option value="DENTHYG">Dental Hygiene (DENTHYG)</option>
<option value="DHYGRACK">Dental Hygiene (DHYGRACK)</option>
<option value="HYGDCE">Dental Hygiene Degree Completion E-Learning (HYGDCE)</option>
<option value="DENT">Dentistry (DENT)</option>
<option value="DERM">Dermatology (DERM)</option>
<option value="DESCI">Design Science (DESCI)</option>
<option value="DBLBASS">Double Bass (DBLBASS)</option>
<option value="DUTCH">Dutch (DUTCH)</option>
<option value="EARTH">Earth and Environmental Sciences (EARTH)</option>
<option value="EEB">Ecology and Evolutionary Biology (EEB)</option>
<option value="ECON">Economics (ECON)</option>
<option value="EDUC">Education (EDUC)</option>
<option value="EDCURINS">Education D Curriculum and Instruction (EDCURINS)</option>
<option value="EECS">Electrical Engineering And Computer Science (EECS)</option>
<option value="ENDODONT">Endodontics (ENDODONT)</option>
<option value="ESENG">Energy Systems Engineering Program (ESENG)</option>
<option value="ENGR">Engineering (ENGR)</option>
<option value="ENGLISH">English Language And Literature (ENGLISH)</option>
<option value="ELI">English Language Institute (ELI)</option>
<option value="ENS">Ensemble (ENS)</option>
<option value="ES">Entrepreneurial Studies (ES)</option>
<option value="ENTR">Entrepreneurship (ENTR)</option>
<option value="ENVIRON">Environment (ENVIRON)</option>
<option value="EHS">Environmental Health Sciences (EHS)</option>
<option value="ENSCEN">Environmental Sciences and Engineering (ENSCEN)</option>
<option value="EPID">Epidemiology (EPID)</option>
<option value="EURO">European Studies (EURO)</option>
<option value="EMBA">Executive Master of Business Administration (EMBA)</option>
<option value="FAMMED">Family Medicine (FAMMED)</option>
<option value="FIN">Finance (FIN)</option>
<option value="RCARTS">Fine Arts (RCARTS)</option>
<option value="FLUTE">Flute (FLUTE)</option>
<option value="FPIANO">Fortepiano (FPIANO)</option>
<option value="FRENCH">French (FRENCH)</option>
<option value="FRENHORN">French Horn (FRENHORN)</option>
<option value="WRITING">Gayle Morris Sweetland Center for Writing (WRITING)</option>
<option value="GEOG">Geography (GEOG)</option>
<option value="GERMAN">German (GERMAN)</option>
<option value="GTBOOKS">Great Books (GTBOOKS)</option>
<option value="GREEK">Greek (GREEK)</option>
<option value="HARP">Harp (HARP)</option>
<option value="HBEHED">Health Behavior And Health Education (HBEHED)</option>
<option value="HMP">Health Management And Policy (HMP)</option>
<option value="HS">Health Sciences (HS)</option>
<option value="HF">Health and Fitness (HF)</option>
<option value="HHCR">Health and Health Care Research (HHCR)</option>
<option value="HJCS">Hebrew And Jewish Cultural Studies (HJCS)</option>
<option value="HISTORY">History (HISTORY)</option>
<option value="HISTART">History of Art (HISTART)</option>
<option value="HUMGEN">Human Genetics (HUMGEN)</option>
<option value="RCHUMS">Humanities (RCHUMS)</option>
<option value="IMMUNO">Immunology (IMMUNO)</option>
<option value="IOE">Industrial And Operations Engineering (IOE)</option>
<option value="SI">Information (SI)</option>
<option value="INSTHUM">Institute For The Humanities (INSTHUM)</option>
<option value="INFLXMED">Inteflex Medical School (INFLXMED)</option>
<option value="ISD">Integrative Systems and Design (ISD)</option>
<option value="INTPERF">Interarts Performance (INTPERF)</option>
<option value="RCIDIV">Interdivisional (RCIDIV)</option>
<option value="INTMED">Internal Medicine (INTMED)</option>
<option value="INTLSTD">International Studies (INTLSTD)</option>
<option value="ITALIAN">Italian (ITALIAN)</option>
<option value="CJS">Japanese Studies (CJS)</option>
<option value="JAZZ">Jazz & Improvisational Studies (JAZZ)</option>
<option value="JUDAIC">Judaic Studies (JUDAIC)</option>
<option value="KINESLGY">Kinesiology (KINESLGY)</option>
<option value="RCLANG">Languages (RCLANG)</option>
<option value="LATIN">Latin (LATIN)</option>
<option value="LACS">Latin American And Caribbean Studies (LACS)</option>
<option value="LATINOAM">Latina/o American Studies (LATINOAM)</option>
<option value="LAW">Law (LAW)</option>
<option value="LING">Linguistics (LING)</option>
<option value="LHSP">Lloyd Hall Scholars Program (LHSP)</option>
<option value="MACROMOL">Macromolecular Science (MACROMOL)</option>
<option value="MO">Management and Organizations (MO)</option>
<option value="MFG">Manufacturing (MFG)</option>
<option value="MKT">Marketing (MKT)</option>
<option value="MATSCIE">Materials Science Engineering (MATSCIE)</option>
<option value="MATH">Mathematics (MATH)</option>
<option value="MECHENG">Mechanical Engineering (MECHENG)</option>
<option value="MEDEDUC">Medical Education (MEDEDUC)</option>
<option value="MEDADM">Medical School Administration (MEDADM)</option>
<option value="MEDCHEM">Medicinal Chemistry (MEDCHEM)</option>
<option value="MEMS">Medieval and Early Modern Studies (MEMS)</option>
<option value="MICRBIOL">Microbiology (MICRBIOL)</option>
<option value="MENAS">Middle Eastern And North African Studies (MENAS)</option>
<option value="MILSCI">Military Science (MILSCI)</option>
<option value="MODGREEK">Modern Greek (MODGREEK)</option>
<option value="MCDB">Molecular, Cellular and Developmental Biology (MCDB)</option>
<option value="MOVESCI">Movement Science (MOVESCI)</option>
<option value="MUSMETH">Museum Methods (MUSMETH)</option>
<option value="MSP">Museum Studies (MSP)</option>
<option value="MUSEUMS">Museums (MUSEUMS)</option>
<option value="MUSED">Music Education (MUSED)</option>
<option value="MUSPERF">Music Performance (MUSPERF)</option>
<option value="MUSTHTRE">Musical Theatre (MUSTHTRE)</option>
<option value="MUSICOL">Musicology (MUSICOL)</option>
<option value="NATIVEAM">Native American Studies (NATIVEAM)</option>
<option value="NRE">Natural Resources And Environment (NRE)</option>
<option value="RCNSCI">Natural Sciences (RCNSCI)</option>
<option value="NAVARCH">Naval Architecture And Marine Engineering (NAVARCH)</option>
<option value="NAVSCI">Naval Science (NAVSCI)</option>
<option value="NEUROL">Neurology (NEUROL)</option>
<option value="NEUROSCI">Neuroscience (NEUROSCI)</option>
<option value="NEUSURG">Neurosurgery (NEUSURG)</option>
<option value="NERS">Nuclear Engineering And Radiological Sciences (NERS)</option>
<option value="NURS">Nursing (NURS)</option>
<option value="NSC">Nursing Second Career (NSC)</option>
<option value="OBOE">Oboe (OBOE)</option>
<option value="OBSTGYN">Obstetrics and Gynecology (OBSTGYN)</option>
<option value="OPERA">Opera (OPERA)</option>
<option value="OPHTH">Ophthalmology (OPHTH)</option>
<option value="ORALBIOL">Oral Biology (ORALBIOL)</option>
<option value="ORALDIAG">Oral Diagnosis (ORALDIAG)</option>
<option value="ORALHEAL">Oral Health Sciences (ORALHEAL)</option>
<option value="ORALPATH">Oral Pathology (ORALPATH)</option>
<option value="ORALSURG">Oral Surgery (ORALSURG)</option>
<option value="ORGAN">Organ (ORGAN)</option>
<option value="ORGANLIT">Organ Literature (ORGANLIT)</option>
<option value="ORGSTUDY">Organizational Studies (ORGSTUDY)</option>
<option value="ORTHO">Orthodontics (ORTHO)</option>
<option value="OTO">Otorhinolaryngology (OTO)</option>
<option value="PATH">Pathology (PATH)</option>
<option value="PEDDENT">Pediatric Dentistry (PEDDENT)</option>
<option value="PEDIAT">Pediatrics (PEDIAT)</option>
<option value="PERCUSS">Percussion (PERCUSS)</option>
<option value="PAT">Performing Arts & Technology (PAT)</option>
<option value="PERIODON">Periodontics (PERIODON)</option>
<option value="PHARMSCI">Pharmaceutical Sciences (PHARMSCI)</option>
<option value="PHRMACOL">Pharmacology (PHRMACOL)</option>
<option value="PHARMACY">Pharmacy (PHARMACY)</option>
<option value="PHIL">Philosophy (PHIL)</option>
<option value="PPE">Philosophy, Politics and Economics (PPE)</option>
<option value="PHYSED">Physical Education (PHYSED)</option>
<option value="PMR">Physical Medicine & Rehabilitation (PMR)</option>
<option value="PHYSICS">Physics (PHYSICS)</option>
<option value="PHYSIOL">Physiology (PHYSIOL)</option>
<option value="PIANO">Piano (PIANO)</option>
<option value="PIANOLP">Piano Literature and Pedagogy (PIANOLP)</option>
<option value="POLISH">Polish (POLISH)</option>
<option value="POLSCI">Political Science (POLSCI)</option>
<option value="PORTUG">Portuguese (PORTUG)</option>
<option value="PNE">Professional Nursing Education (PNE)</option>
<option value="PROSTHOD">Prosthodontics (PROSTHOD)</option>
<option value="PSYCHIAT">Psychiatry (PSYCHIAT)</option>
<option value="PSYCH">Psychology (PSYCH)</option>
<option value="PUBHLTH">Public Health (PUBHLTH)</option>
<option value="PUBPOL">Public Policy (PUBPOL)</option>
<option value="RACKHAM">Rackham Graduate School (RACKHAM)</option>
<option value="RADIOL">Radiology (RADIOL)</option>
<option value="RELIGION">Religion (RELIGION)</option>
<option value="RESTORA">Restorative (RESTORA)</option>
<option value="ROB">Robotics (ROB)</option>
<option value="RAV">Robotics and Autonomous Vehicle Engineering (RAV)</option>
<option value="ROMLANG">Romance Languages and Literatures (ROMLANG)</option>
<option value="ROMLING">Romance Linguistics (ROMLING)</option>
<option value="RUSSIAN">Russian (RUSSIAN)</option>
<option value="REEES">Russian, East European and Eurasian Studies (REEES)</option>
<option value="SCAND">Scandinavian (SCAND)</option>
<option value="SAC">Screen Arts and Cultures (SAC)</option>
<option value="SLAVIC">Slavic (SLAVIC)</option>
<option value="RCSSCI">Social Sciences (RCSSCI)</option>
<option value="SW">Social Work (SW)</option>
<option value="SOCADMIN">Social and Administrative Sciences (SOCADMIN)</option>
<option value="SOC">Sociology (SOC)</option>
<option value="SAS">South Asian Studies (SAS)</option>
<option value="SEAS">Southeast Asian Studies (SEAS)</option>
<option value="SPANISH">Spanish (SPANISH)</option>
<option value="SM">Sport Management (SM)</option>
<option value="STATS">Statistics (STATS)</option>
<option value="STRATEGY">Strategy (STRATEGY)</option>
<option value="STDABRD">Study Abroad (STDABRD)</option>
<option value="STDEXCH">Study Exchange (STDEXCH)</option>
<option value="SURGERY">Surgery (SURGERY)</option>
<option value="SURVMETH">Survey Methodology (SURVMETH)</option>
<option value="TCHNCLCM">Technical Communication (TCHNCLCM)</option>
<option value="TO">Technology and Operations (TO)</option>
<option value="THTREMUS">Theatre & Drama (THTREMUS)</option>
<option value="THEORY">Theory (THEORY)</option>
<option value="TROMBONE">Trombone (TROMBONE)</option>
<option value="TRUM">Trumpet-Cornet (TRUM)</option>
<option value="TUBA">Tuba (TUBA)</option>
<option value="UKR">Ukrainian (UKR)</option>
<option value="UARTS">University Arts (UARTS)</option>
<option value="UC">University Courses (UC)</option>
<option value="UD">Urban Design (UD)</option>
<option value="UP">Urban Planning (UP)</option>
<option value="VIOLA">Viola (VIOLA)</option>
<option value="VIOLIN">Violin (VIOLIN)</option>
<option value="VOICE">Voice (VOICE)</option>
<option value="VOICELIT">Voice Literature (VOICELIT)</option>
<option value="WMBA">Weekend Master of Business Administration (WMBA)</option>
<option value="WOMENSTD">Womens Studies (WOMENSTD)</option>
<option value="YIDDISH">Yiddish (YIDDISH)</option>
	</select>
	<input type = "text" placeholder = "Class No." name ="COURSENUM"></input>
</form>
</body>
</html>