<html>
    <head>
        <title>My first web page</title>
        <link rel="stylesheet" href="../static/css/swag123.css">
    </head>
   <body background="http://i.imgur.com/N03vnX8.jpg?1" bgproperties="fixed">




	<div id="logo">
		<p>
<img src="http://i.imgur.com/DFyjLsU.png" title="source: imgur.com" />
	</p> </div>

<div id="login">
    <p><h2>Returning User?<br>
            Login Here!</h2></p><br>
    </div>
       
       <div id="login1">
    <form action="/login" method="post">
            <input type="text" placeholder="Email" name="EMAIL" style="height:30;
    width: 200;"><br><br>
            <input type="password" placeholder="Password" name="PASS" style="height:30;
    width: 200;"><br><br>
            <input type="submit" value="Login"><br>
        </form>
 
</div>


	<div id="mainblock">
		<img src="http://i.imgur.com/PF1fS2u.png?1" title="source: imgur.com"  style="height:600px;
    width: 600px;"/>

</div>
        
       <div id="register" style="color:white; margin:20px; padding:20px;">

				<h1><b>Sign-Up</b>. It's <i>Free</i>!</h1>
       </div>
       <div id="register1" style="color:white; margin:20px; padding:50px;">
					<form action="/register" method="post">
						<input type="text" placeholder="First Name" name="FNAME" style="height:30;
    width: 200;"><br><br>
                        <input type="text" placeholder="Last Name" name="LNAME" style="height:30;
    width: 200;"><br><br>
                        <input type="text" placeholder="Email" name="EMAILR" style="height:30;
    width: 200;"><br><br>
                        <input type="text" placeholder="Re-Enter Email" name="EMAILR1" style="height:30;
    width: 200;"><br><br>
                        <input type="text" placeholder="Password" name="PWORD" style="height:30;
    width: 200;"><br><br>
                        <input type="text" placeholder="Confirm Password" name="PWORD1" style="height:30;
    width: 200;"><br><br>
     <input type="submit" value = "Register"><br>  

					</form>

       </div> 
    <div id="footer">
        <p> Copyright 2015 Firebreathing Rubber Duckies</p>
    </div>
       
       
    </body>
</html>