<html>
    <head>
        <title>My first web page</title>
        <link rel="stylesheet" href="swag123Majorspageremake.css">
    </head>
   <body background="http://www.engin.umich.edu/aero/academics/images/north-campus-in-the-spring" bgproperties="fixed">

        <div id="logo"> <p>
        <img src="http://i.imgur.com/DFyjLsU.png" title="source: imgur.com" style="height: 100px;width:auto;"/>
    </p> </div>

	<h1 id="h1">Majors: Engineering</h1></a>
        
    <div id="mainblock"> 
        <img src="https://tbp.engin.umich.edu/static/coe_block_m.png"  style="height:400px;"/>
    </div>

<div id="CoECoreRequirements">

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.engin.umich.edu/college/academics/bulletin/ug-ed/reqs" target="_blank"><mark>CoE Core Requirements</mark></a></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.engin.umich.edu/aero/academics/undergrad/program/requirements" target="_blank"><mark>Aerospace Engineering</mark></a></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.bme.umich.edu/programs/undergrad/curriculum.php" target="_blank"><mark>Biomedical Engineering</mark></a></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.engin.umich.edu/che/undergraduate/program/reqs" target="_blank"><mark>Chemical Engineering</mark></a></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://cee.engin.umich.edu/academics/undergrad-studies/degree-requirements" target="_blank"><mark>Civil Engineering</mark></a></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.eecs.umich.edu/eecs/undergraduate/ugce/computer_engineering.html" target="_blank"><mark>Computer Engineering</mark></a></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.eecs.umich.edu/eecs/undergraduate/ugcs/CS-Eng.html" target="_blank"><mark>Computer Science</mark></a></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://aoss.engin.umich.edu/pages/undergraduate/climate-impact-engineering" target="_blank"><mark>Earth System Science and Engineering</mark></a></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.eecs.umich.edu/eecs/undergraduate/ugee/electrical_engineering.html" target="_blank"><mark>Electrical Engineering</mark></a></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://eng-physics.engin.umich.edu/home/requirements" target="_blank"><mark>Engineering Physics</mark></a></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://cee.engin.umich.edu/academics/undergrad-studies/degree-requirements" target="_blank"><mark>Environmental Engineering</mark></a></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://ioe.engin.umich.edu/degrees/ugrad/ugdocs/UndergradStudentGuide.2013.2014.pdf" target="_blank"><mark>Industrial and Operations Engineering (Pg.4)</mark></a></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.mse.engin.umich.edu/undergraduate/curriculum" target="_blank"><mark>Materials Science and Engineering</mark></a></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://me.engin.umich.edu/academics/ugsh/bachelors" target="_blank"><mark>Mechanical Engineering</mark></a></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://name.engin.umich.edu/academics/undergradprogram/requirements/" target="_blank"><mark>Naval Architecture and Marine Engineering</mark></a></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.engin.umich.edu/ners/academics/undergrad/program/reqs" target="_blank"><mark>Nuclear Engineering Radiological Sciences</mark></a></p>

</div>
     
     <body>
            <br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>
<div id="blankbox1"><p>First Semester: <input type="text" id="classname">&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;<input type="text" id="classname">
<br></br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;<input type="text" id="classname"></p></div>

<div id="blankbox2"><p>Second Semester: <input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">
    <br></br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname"></p></div>  

<div id="blankbox3"><p>Third Semester: <input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">
    <br></br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname"></p></div>  

<div id="blankbox4"><p>Fourth Semester: <input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">
    <br></br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname"></p></div>  

<div id="blankbox5"><p>Fifth Semester: <input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">
    <br></br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname"></p></div>  

<div id="blankbox6"><p>Sixth Semester: <input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">
    <br></br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname"></p></div>  

<div id="blankbox7"><p>Seventh Semester: <input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;<input type="text" id="classname">
    <br></br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname"></p></div>  

<div id="blankbox8"><p>Eighth Semester: <input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">
    <br></br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="classname"></p></div>  

      
    <div id="footer">
        <p> Copyright 2015 Firebreathing Rubber Duckies</p>
    </div>
       
       
    </body>
</html>